#root {
background: linear-gradient(180deg, #121212, #1e1e1e);
margin: 0 auto;
text-align: center;
width: 100%;
}
h1 {
  font-family: 'Gudea', 'sans-serif';
}
h2, p {
  font-family: 'Orienta', 'sans-serif';
  color: #ffffff;
}